{ 
    "typeName":"[TypeName]",
    "isContextSingleton":[IsContextSingleton],
    "containerFilePath":"[ContainerFilePath]",
    "defaultContainerFilePath": "[DefaultContainerFilePath]",
    "variableName":"[VariableName]",
    "scriptPath": "[ScriptPath]",
    "contextName": "[ContextName]",
    "defaultContextName": "[DefaultContextName]",
    "isSingleton": [IsSingleton]
}