{
    "typeName": "[TypeName]",
    "typeVariableName": "[TypeVariableName]",
    "scriptPath": "[ScriptPath]",
    "contextName": "[ContextName]",
    "contextFilePath": "[ContextFilePath]",
    "defaultContextName": "[DefaultContextName]",
    "defaultContextFilePath": "[DefaultContextFilePath]",
    "isContextSingleton": [IsContextSingleton],
    "isSingleton": [IsSingleton],
    "ctorParameters":  [CtorParameters]
}