{ 
    "typeName":"[TypeName]",
    "factoryScriptPath":"[FactoryScriptPath]",
    "factoryContainerContextFilePaths": [FactoryContainerContextFilePaths],
    "minFactoryScriptPath":"[MinFactoryScriptPath]",
    "ctorArgumentsWithContextNames": [CtorArgumentsWithContextNames],
    "ctorArgumentNames": [CtorArgumentNames]
}