{
    "typeName": "[TypeName]",
    "typeVariableName": "[TypeVariableName]",
    "scriptPath": "[ScriptPath]",
    "prototypeScriptPath": "[PrototypeScriptPath]",
    "factoryScriptPath": "[FactoryScriptPath]",
    "contexts": [Contexts]
}