{ 
    "typeName":"[TypeName]",
    "variableName":"[VariableName]",
    "isSingleton":[IsSingleton],
    "isRef":[IsRef],
    "scriptPath":"[ScriptPath]",
    "prototypeScriptPath":"[PrototypeScriptPath]"
}